.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:nth-of-type(2) {
  height: 200px;
  width: 250px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}